/* CSS Document */
*{
	border:0;
	padding:0;
	margin:0;
	font-family:"微软雅黑","Times New Roman", Times, serif	
}

a {
	text-decoration:none;
	color:#666;	
}
a:hover {
	color:red;
}

.backView {
	margin:0 auto;
	margin-top:80px;	
	width:1000px;
	height:auto;	
}

.newsImg {
	height:220px;
}

.newsNav {
	margin:0;
	width:230px;
	height:1001px;
	background:#efeff4;	
	border-top:1px solid #bbbbbb;
	float:left;
}

.newsNav ul{
	margin:30px 0 20px 20px;
	width:190px;
	list-style-type:none;
	border-bottom:1px solid #CCC;
}
.newsNav ul li{
	height:50px;
	border-top:1px solid #CCC;
	line-height:50px;
	font-size:14px;
	font-weight:bold;
}

.hotNews {
	list-style-type:square;
	margin:20px;
	line-height:40px;	
}
.hotNews a li{
	border-bottom:1px solid #f0eff5;
	font-size:12px;
}

.newsNav li:hover {
	background:#FFF;
}

.newsHead {
	height:40px;
	line-height:40px;	
}

.title1 {
	font-size:16px;
	font-weight:bold;
	color:black;	
	margin:0 20px;

}

.title2 {
	font-size:14px;
	font-weight:bold;
	color:#666;	
	margin:0 20px;
	
}

.title3 {
	font-size:12px;
	color:#666;	
	margin:0 20px;
	
}

.frameDiv {
	margin-left:20px;
	float:left;
	width:750px;
	border-top:1px solid #bbbbbb;	
	height:auto;
}

.newsFrame {
	margin-top:20px;
	width:750px;
}

.rightOffset {
	margin-left:30px;	
}

.contentDiv {
	width:750px;
	margin:0 auto;
	height:auto;
	text-align:center;	
}
.contentDiv .t1 {
	font-size:20px;
	color:#0084c9;	
	font-weight:bold;
	margin-top:20px;
}

.contentDiv .t2 {
	font-size:12px;
	color:#666;	
	margin-top:20px;
}

hr {
	margin-top:20px;
	border-bottom:1px dotted #b1b1b1;
	width:100%;		
}

.detailDiv {
	margin:20px;
	width:710px;
	height:auto;	
}

.detailDiv  p {
	text-indent:30px;
	color:#656565;
	line-height:26px;
	font-size:12px;
	text-align:left;
	margin-right:20px;	
}













